// Abstracts
@import "abstracts/abstracts";

// Core
@import "core/core";

// Layouts
@import "layouts/layouts";

// Components
@import "components/components";

// Pages
@import "pages/pages";

.search-box {
  position: fixed;
  top: to-rem(60);
  width: 100%;
  height: calc(100vh - to-rem(60));
  background: var(--bg);
  z-index: 1;
  .container {
    height: 100%;
  }
}

.amp-dark-mode {
  @include header--dark;
}

@include min-query(sm) {
  @include content--sm;
  @include post-card--sm;
  @include post--sm;
}

@include min-query(md) {
  @include container--md;
  @include header--md;
  @include footer--md;
  @include content--md;
  @include post-card--md;
  @include post--md;
}

@include min-query(lg) {
  @include container--lg;
  @include header--lg;
  @include content--lg;
  @include post-card--lg;
}

@include min-query(xl) {
  @include root--xl;
  @include container--xl;
  @include post-card--xl;
  @include post--xl;
}

@include min-query(xxl) {
  @include container--xxl;
  @include post-card--xxl;
}

@include min-query(extra) {
  @include header--extra;
  @include footer--extra;
}
