.search-box {
  position: fixed;
  top: to-rem(20);
  left: to-rem(20);
  right: to-rem(20);
  height: calc(100vh - to-rem(196));
  border-radius: to-rem(8);
  background: var(--bg);
  box-shadow: var(--shadow);
  z-index: 2;
  display: flex;
  flex-direction: column;
  opacity: 0;
  transform: translateY(-100%) scale(0.7);
  transition:
    opacity ease-in 0.2s,
    transform ease-in 0.2s;
  &--active {
    opacity: 1;
    transform: translateY(0) scale(1);
    transition-timing-function: ease-out;
  }
  &__header {
    padding: to-rem(10) to-rem(20);
    background: var(--nav-bg);
    box-shadow: var(--shadow);
    border-radius: to-rem(8) to-rem(8) 0 0;
    p {
      margin: 0;
      span {
        display: block;
        font-size: to-rem(14);
      }
      strong {
        display: block;
        font-size: to-rem(18);
        background: var(--oragenta);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
      }
    }
  }
  &__content {
    flex-grow: 1;
    overflow: auto;
    [role="list"] {
      overflow: auto;
    }
    [role="listitem"] {
      padding: 0 to-rem(20);
    }
  }

  &__article {
    margin: to-rem(20) 0;
    a {
      text-decoration: none;
    }
    p {
      margin: 0;
    }

    .article {
      &__header {
        display: flex;
        align-items: center;
        gap: to-rem(12);
        amp-img {
          flex: 0 0 to-rem(80);
          max-width: to-rem(80);
          border-radius: to-rem(8);
        }
        p {
          font-size: to-rem(18);
          font-weight: bold;
        }
      }
      &__content {
        margin-top: to-rem(12);
      }
    }
  }
}

@mixin search--lg {
  .search-box {
    height: calc(100vh - to-rem(100));
    left: 50%;
    max-width: to-rem(920);
    right: auto;
    top: to-rem(80);
    transform: translateX(-50%) translateY(-100%) scale(0.7);
    width: 100%;
    &--active {
      transform: translateX(-50%) translateY(0) scale(1);
    }
  }
}
