@font-face {
  font-family: "Lato";
  src: url("/static/fonts/lato-regular.woff2") format("woff2"), url("/static/fonts/lato-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: url("/static/fonts/lato-bold.woff2") format("woff2"), url("/static/fonts/lato-bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Fallback";
  size-adjust: 96.32%;
  ascent-override: 99%;
  src: local("Tahoma");
}

@font-face {
  font-family: "FallbackBold";
  size-adjust: 99%;
  ascent-override: 99%;
  src: local("Tahoma");
}
