@import "variables";

:root {
  min-width: 320px;
  font-size: to-px(16);
  font-family: "Lato", Arial, Helvetica, sans-serif;
  @include light;
}

.amp-dark-mode {
  @include dark;
}

*,
*:before,
*:after {
  position: relative;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  background: var(--bg);
}

a {
  color: var(--darkblue);
  &:hover {
    color: var(--orange);
  }
}

button,
input,
textarea {
  font-size: to-rem(16);
  font-family: "Lato", Arial, Helvetica, sans-serif;
}

p {
  line-height: 1.375em;
  color: var(--text);
  strong {
    color: var(--title);
  }
}
