@import "variables";

:root {
  min-width: 320px;
  font-size: to-px(16);
  font-family: "Lato", Arial, Helvetica, sans-serif;
  @include light;
}

*,
*:before,
*:after {
  position: relative;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  background: var(--bg);
}
