@import "variables";

:root {
  min-width: 320px;
  font-size: to-px(16);
  font-family: "Fallback", Arial, Helvetica, sans-serif;
  font-family: "Lato", "Fallback", Arial, Helvetica, sans-serif;
  @include light;
}

.amp-dark-mode {
  @include dark;
}

*,
*:before,
*:after {
  position: relative;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  background: var(--bg);
}

a {
  color: var(--title);
  transition: color ease-in 0.2s;
  * {
    transition: inherit;
  }
  &:hover {
    transition-timing-function: ease-out;
    color: var(--orange);
    * {
      color: inherit;
    }
  }
}

button,
input,
textarea {
  font-size: to-rem(16);
  font-family: "Lato", "Fallback", Arial, Helvetica, sans-serif;
}

p {
  line-height: to-rem(22);
  color: var(--text);
  * {
    line-height: to-rem(22);
  }
  strong {
    color: var(--title);
    font-family: "Lato", "FallbackBold", Arial, Helvetica, sans-serif;
  }
}

strong {
  font-family: "Lato", "FallbackBold", Arial, Helvetica, sans-serif;
}

.disable-scroll {
  overflow: hidden;
}

@mixin root--xl {
  :root {
    font-size: to-px(18);
  }
}
