@mixin light {
  --white: hsl(0, 0%, 100%);
  --skyblue: hsl(202, 50%, 97%);
  --lightblue: hsl(200, 32%, 93%);
  --darkblue: hsl(206, 16%, 9%);
  --darkblue-rgb: 19, 23, 26;
  --lightgray: hsl(0, 0%, 95%);
  --gray: hsl(200, 1%, 54%);
  --orange: hsl(17, 87%, 57%);
  --magenta: hsl(333, 100%, 49%);
  --oragenta: linear-gradient(135deg, var(--orange) 0%, hsl(356, 97%, 62%) 50%, var(--magenta) 100%);
  --facebook: hsl(221, 44%, 41%);
  --instagram: linear-gradient(
    135deg,
    hsl(257deg 60% 53%) 0%,
    hsl(317deg 79% 43%) 39%,
    hsl(357deg 83% 65%) 61%,
    hsl(35deg 94% 69%) 100%
  );
  --twitter: hsl(204deg 88% 53%);

  --bg: var(--skyblue);
  --header-bg: var(--white);
  --nav-bg: var(--white);
  --footer-bg: var(--white);
}

@mixin dark {
}
